<div class="alert-light">
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>

<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Want to delete an article?"}, :class => "btn btn-danger" %>

<hr>

<h5>All Comments</h5>
<% @post.comments.each do |comment|%>
<div class = "alert alert-light">
<p><strong><%= comment.username %></strong>: <%= comment.body %></p>
<br>
<% end %>

<hr>
<h6>Comment</h6>
<%= form_for([@post, @post.comments.build])  do |f| %>
  <p>
    User<br>
    <%=f.text_field(:username, {:class => 'form-control'}) %>
    </p>

    <p>
      Comment<br>
      <%=f.text_area(:body, {:class => 'form-control'}) %>
      </p>

      <p>
        <%=f.submit("Add Comment", {:class => 'btn btn-warning'}) %>
        </p>
<% end %>
